<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diario de bordo do aluno(a) {{nomeal}}</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="tabs">
        <div class="left">
            <form action="{{ url_for('area_prof', nome=nome)}}" method="POST">
                <input type="hidden" name="nome" value="{{ nome }}">
                <button type="submit">Voltar para a página do instrutor</button>
            </form>
            <form action="{{ url_for('listar_alunos') }}" method="POST">
                <input type="hidden" name="nome" value="{{ nome }}">
                <button type="submit">Acesse a lista de alunos</button>
            </form>
            <button class="active">Diário de Bordo</button>

        </div>
        <div class="right">
            <button onclick="location.href='/'">Logout</button>
        </div>
    </div>
    <h1>Diario de bordo do aluno(a) {{nomeal}}</h1>

    <div id="wordcloud-placeholder" class="loading">
        <img src="{{ url_for('static', filename='Placeholder_Loading.gif') }}" alt="Loading...">
    </div>
    <div id="wordcloud-container">
        <img src="{{ wordcloud_image_data }}" alt="Word Cloud">
    </div>
    <hr>
    <div id="table"></div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
        new gridjs.Grid({
          columns: [
            { id: 'texto', name: 'Diario de Bordo' },
            { id: 'data_hora', name: 'Data e hora' },
          ],
          data: [
            {% for diario in diariobordo_entries %}
              [
                '{{ diario.texto }}',
                '{{ diario.data_hora }}',
              ],
            {% endfor %}
          ],
          search: true,
          sort: true,
          pagination: true,
        }).render(document.getElementById('table'));
    </script>
    <script>
        window.onload = function() {
            document.getElementById('wordcloud-placeholder').style.display = 'none';
            document.getElementById('wordcloud-content').style.display = 'block';
        };
    </script>

        <div id="popup" class="popup"></div>
    <script>
        function showPopup(message) {
            var popup = document.getElementById('popup');
            popup.textContent = message;
            popup.classList.add('active');
            setTimeout(function() {
                popup.classList.remove('active');
            }, 3000);
        }
    </script>
</body>
</html>
