<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Diário de Bordo</title>
</head>
<body>
    <div class="tabs">
        <div class="left">
            <button onclick="location.href='{{ url_for('realizar_cadastro') }}'">Cadastro</button>
            <button onclick="location.href='/instrutor'">Acesso do Instrutor</button>
            <button class="active">Diário de Bordo</button>

        </div>
        <div class="right">
            <button onclick="location.href='/'">Inicio</button>
        </div>
    </div>
    <div>
        <h2>Bem-vindo {{nome}}</h2>
        <h2>O seu RA é: {{ra}}</h2>
        <form action="{{ url_for('submit_diario') }}" method="POST">
            <label for="texto">Compartilhe seus sentimentos sobre a aula:</label><br>
            <textarea id="texto" name="texto" rows="10" cols="50" required></textarea><br>
            <input type="submit" value="Enviar">
            <input type="hidden" name="ra" value="{{ ra }}">
            <input type="hidden" name="nome" value="{{ nome }}">
        </form>
        {% if mensagem %}
        <div class="mensagem">
            {{mensagem}}
        </div>
        {% endif %}
    
    </div>
    <a href="/">Sair</a>
</body>
</html>
