<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Novo Aluno</title>
</head>
<body>
    <div class="tabs">
        <div class="left">
            <button class="active" onclick="location.href='{{ url_for('realizar_cadastro') }}'">Cadastro</button>
            <button onclick="location.href='{{ url_for('acess_prof') }}'">Acesso do Instrutor</button>
            <button onclick="showPopup('Por favor preencha o RA e clique em enviar')">Diário de Bordo</button>

        </div>
        <div class="right">
            <button onclick="location.href='/'">Inicio</button>
        </div>
    </div>
    
</div>

<h2 style="text-align: center;">Cadastro de Aluno</h2>

<div class="cadastro-container">
    <form action="/cadastro" method="POST">
        <label for="ra">RA:</label>
        <input type="text" id="ra" name="ra" maxlength="8" required>
        
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" maxlength="50" required>
        
        <label for="renda_media_salarial">Renda Salarial:</label>
        <input type="number" id="renda_media_salarial" name="renda_media_salarial" step="0.01">
        
        <label for="tempo_de_estudo">Qual o seu tempo de estudo semanal:</label>
        <input type="number" id="tempo_de_estudo" name="tempo_de_estudo">
        
        <input type="submit" id="botaocad" value="Realizar Cadastro">
    </form>
</div>

<div id="popup" class="popup"></div>

<script>
    function showPopup(message) {
        var popup = document.getElementById('popup');
        popup.textContent = message;
        popup.classList.add('active');
        setTimeout(function() {
            popup.classList.remove('active');
        }, 3000);
    }
</script>
</body>
</html>