<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Acesso do Instrutor</title>
</head>
<body>
    <div class="tabs">
        <div class="left">
            <button onclick="location.href='{{ url_for('realizar_cadastro') }}'">Cadastro</button>
            <button class="active" onclick="location.href='{{ url_for('acess_prof') }}'">Acesso do Instrutor</button>
            <button onclick="showPopup('Retorne a página inicial e preencha o campo de RA')">Diário de Bordo</button>  

        </div>
        <div class="right">
            <button onclick="location.href='/'">Inicio</button>
        </div>
    </div>
    <h2>Login do Instrutor</h2>
    <div class="login-container">
        <div class="icon-placeholder">
            <img src="{{ url_for('static', filename='Placeholder_icon.png') }}" alt="Loading..." class="icon">
        </div>
        <h2 style="text-align: center;">Login</h2>
        
        <form action="/login_inst" method="POST">
            <label for="p_id">Usuario:</label>
            <input type="text" id="p_id" name="p_id" maxlength="10" required>
            
            <label for="pass">Senha:</label>
            <input type="password" id="p_s" name="pass" required>
            
            <input type="submit" id="botaoen" value="Entrar">
        </form>
    </div>
    
    <div id="popup" class="popup"></div>
    <script>
        function showPopup(message) {
            var popup = document.getElementById('popup');
            popup.textContent = message;
            popup.classList.add('active');
            setTimeout(function() {
                popup.classList.remove('active');
            }, 3000);
        }
    </script>
</body>
</html>
