<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Área do Instrutor</title>
</head>
<body>
    <div class="tabs">
        <div class="left">
            <button class="active">Área do Instrutor</button>
            <form action="{{ url_for('listar_alunos') }}" method="POST">
                <input type="hidden" name="nome" value="{{ nome }}">
                <button type="submit">Acesse a lista de alunos</button>
            </form>
            <button onclick="showPopup('Por favor acesse a lista de alunos primeiro')">Diário de Bordo</button>
            <form action="{{ url_for('listar_notas', nome=nome)}}" method="POST">
                <input type="hidden" name="nome" value="{{ nome }}">
                <button type="submit">Acesse a lista de notas</button>
            </form>
            
        </div>
        <div class="right">
            <button onclick="location.href='/'">Logout</button>
            <a>Usuario: {{nome}}</a>
            
        </div>
    </div>
    <h1>Área do Instrutor</h1>
    <hr>
    <div id="popup" class="popup"></div>

    <div id="graph" class="loading">
        <img src="{{ url_for('static', filename='Placeholder_Loading.gif') }}" alt="Loading...">
    </div>
    
    <!-- Placeholder for Word Cloud -->
    <div id="wordcloud" class="loading">
        <img src="{{ url_for('static', filename='Placeholder_Loading.gif') }}" alt="Loading...">
    </div>
    <div id="plotly-graph">
        {{ graph_html | safe}}
    </div>
    <hr>
    <div id="wordcloud-container">
        <img src="{{ wordcloud_image_data }}" alt="Word Cloud">
    </div>
    
    <script>
        function showPopup(message) {
            var popup = document.getElementById('popup');
            popup.textContent = message;
            popup.classList.add('active');
            setTimeout(function() {
                popup.classList.remove('active');
            }, 3000);
        }
    </script>
    <script>
        window.onload = function() {
            document.getElementById('graph').style.display = 'none';
            document.getElementById('wordcloud').style.display = 'none';
            document.getElementById('graph-content').style.display = 'block';
            document.getElementById('wordcloud-content').style.display = 'block';
        };
    </script>
</body>
</html>
